@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Cormorant:ital@0;1&family=Cinzel&display=swap');

@font-face {
  font-family: GarishMonde;
  src: url('https://www.hard-wire.net/fonts/garish_monde.ttf');
}

@font-face {
  font-family: Halda;
  src: url('https://www.hard-wire.net/fonts/haldanor.ttf');
}

@font-face {
  font-family: Gob;
  src: url('https://www.hard-wire.net/fonts/gob_____.ttf');
}

/* Headings */
h1.rod-title {
  text-align: center;
  font-family: 'GarishMonde', Times, serif;
  margin-top: 0;
  color: black;
}

h3.vtm-h3 {
  text-align: center;
  font-family: 'Halda', serif;
}

div.section-header {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: 'Halda', serif;
  font-style: bold;
}

div.subsection {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-family: 'Halda', serif;
  font-style: bold;
}

.rod-subtitle {
  font-size: 50%;
}

/* Typography */
.bold {
  font-family: 'Gob', 'Bodoni Moda', serif;
}

.small {
  font-size: small;
}

#overview ul li {
  font-size: larger;
}

/* Layout */
main {
  max-width: 1100px;
}

.rod-sheet {
  margin: 0 auto;
  padding: 12px;
  font-family: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
  color: black;
  background-color: #f5f5f5;
  max-width: 1100px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row h2 {
  width: 100%;
  margin-bottom: 0;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-evenly {
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-2 {
  width: 100%;
  padding: 8px 8px 8px 24px;
  box-sizing: border-box;
}

.col-3 {
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  .col-2 {
    width: 450px;
    max-width: 50%;
  }
  .col-3 {
    width: 300px;
    max-width: 33%;
  }
}

.mb-2 {
  margin-bottom: 8px;
}

/* Powers */
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
ul li {
  padding: 5px;
}

.rod-list,
.member-list,
.underline-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: baseline;
}

.points {
  margin-left: 0px;
  margin-right: 4px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.rod-list .rod-label,
.member-list .rod-label {
  display: flex;
  align-items: baseline;
  width: 25%;
  padding: 0;
  margin-left: 0;
  font-size: 120%;
  font-style: normal;
}

.member-list .rod-label {
  font-size: 100%;
}

.rod-list .rod-label:after,
.member-list .rod-label:after {
  margin-left: 4px;
  content: '';
  flex: 1;
}

.member-list div:not(div.points),
.underline-list div:not(div.points) {
  border-style: none none solid none;
  border-width: 1px;
  width: 100%;
}

#bloodTrack {
  flex-wrap: wrap;
  max-width: 100%;
}
#bloodTrack .boxWrapper {
  margin-bottom: 8px;
  width: 10%;
  display: flex;
  justify-content: center;
}

/* Merits & Flaws */
.meritsFlawsTable {
  width: 100%;
  border-spacing: 20px;
  margin-top: 12px;
  font-size: larger;
}
.meritsFlawsTable th {
  text-align: left;
}
.meritsFlawsTable .mainCol {
  width: 85%;
}
/* .meritsFlawsTable .nameCol {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 0;
}
.meritsFlawsTable .nameCol::after {
  margin-left: 4px;
  border-bottom: 1px solid black;
  content: '';
  flex: 1;
} */
.meritsFlawsTable .costCol,
.meritsFlawsTable .ptsCol {
  text-align: center;
}

/* Health */
#healthTable {
  width: 100%;
  border-collapse: collapse;
  font-size: larger;
}
#healthTable .condition {
  width: 85%;
}
#healthTable .checkbox {
  margin: 0 6px;
}

/* Weakness & XP */
.p-center {
  text-align: center;
}
.p-large {
  font-size: large;
}
