body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Headings */
h1,
h2,
h3 {
  text-align: center;
}
.subtitle {
  font-size: 50%;
}

/* Typography */
.bold {
  font-weight: bold;
}

/* Layout */
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 12px;
  border: 2px dashed darkcyan;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row h2 {
  width: 100%;
  margin-bottom: 0;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-evenly {
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-3 {
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
}
@media only screen and (min-width: 600px) {
  .col-3 {
    width: 300px;
  }
}

/* Powers */
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
ul li {
  padding: 5px;
}
.attribute,
.benefit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: transparent;
}
.points {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;
}
.attribute .label,
.benefit .label {
  display: flex;
  align-items: flex-end;
  width: 100%;
  color: black;
}
.attribute .label:after,
.benefit .label:after {
  margin-left: 4px;
  border-bottom: 1px solid black;
  content: '';
  flex: 1;
}
