body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Headings */
h1,
h2,
h3 {
  text-align: center;
}
.subtitle {
  font-size: 50%;
}

/* Layout */
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 12px;
  border: 2px dashed darkcyan;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row h2 {
  width: 100%;
  margin-bottom: 0;
}
.col {
  width: 33%;
  padding: 8px 12px;
  box-sizing: border-box;
}

/* Powers */
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
ul li {
  padding: 5px;
}
.attribute {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: transparent;
}
.points {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.attribute .label {
  display: flex;
  align-items: flex-end;
  width: 100%;
  color: black;
}
.attribute .label:after {
  margin-left: 4px;
  border-bottom: 1px dotted black;
  content: '';
  flex: 1;
}
